/*nav {
    margin-bottom: 10px !important;
}
nav ul {
    height: 50px;
    background-color: #F7F7F7;
    opacity: 0.9;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a {
    border: 1px solid #3079ed;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    display: block;
    line-height: 50px;
    padding: 0 20px;
    height: 50px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
}
a{
    text-decoration: none;
}*/
